{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ title }}</h1>
            <form method="POST" class="menu-form">
                <fieldset>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}